[server]
address = 127.0.0.1
port = 8080

[database]
host = ec2-54-243-235-107.compute-1.amazonaws.com
port = 5432
name = d71n70faev6rnb
user = cyadztfyuttzjr
password = XvYDLhNWdDCP1wrgwuJnhXo9W_
max_conn = 9999999

[smtp]
root_url = http://localhost:8080
server = smtp.gmail.com
port = 587
username = githackstack@gmail.com
password = githackstack123
from_address = githackstack@gmail.com

[security]
hash_algorithm = scrypt